 body {
            font-family: Arial, sans-serif;
            background-color: #010509;
            margin: 20px;
        }
        h2 {
            background-color: #1760a9;
            color: white;
            padding: 10px;
        }
        form {
            background-color:rgb(237, 242, 245);
            padding: 20px;
            max-width: 900px;
            margin: auto;
            border-radius: 5px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input, select, textarea {
            width: 100%;
            padding: 8px;
        }
        textarea {
            resize: vertical;
        }
        .inline-group {
            display: flex;
            gap: 15px;
        }
        .inline-group input {
            width: auto;
        }
        button {
            background-color: #003366;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer
        }
        h1{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }